
<nav>
  <span>
    <a href="/">Home</a>
  </span>
  {% if product and collection %}
    <span>
      <a href="{{ collection.url }}">{{ collection.title }}</a>
    </span>
  {% endif %}
  <span>
    <strong>{{ page_title }}</strong>
  </span>
</nav>