
<h1>Reset Password</h1>

{% form 'reset_customer_password' %}
  {{ form.errors | default_errors }}

  <section>
    <label for="password">Password</label>
    <input type="password" value="" name="customer[password]" id="customer_password" class="text" />
  </section>

  <section>
    <label class="label" for="password_confirmation">Password Confirmation</label>
    <input type="password" value="" name="customer[password_confirmation]" id="customer_password_confirmation" />    
  </section>

  <section>
    <input type="submit" value="Reset Password" />
  </section>
{% endform %}